<ion-content>
  <ion-grid padding-start padding-end>
    <form class="col s12" [formGroup]="form"  (ngSubmit)="loginUser(form.value)">
      <ion-item class="item-input">
        <ion-icon name="mail"></ion-icon>
        <ion-input (ionChange)="trim($event)" placeholder="{{'Email'|translate}}" type="text" required formControlName="email">
        </ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.email">
          <div class="error-message" *ngIf="form.get('email').hasError(validation.type) && (form.get('email').dirty || form.get('email').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-item class="item-input">
        <ion-icon name="lock"></ion-icon>
        <ion-input
          placeholder="{{'Password'|translate}}"
          [type]="passwordType"
          required
          formControlName="password"></ion-input>
        <ion-icon
          (click)='hidePassword()'
          name="eye"></ion-icon>
        <ion-icon
          (click)='showPassword()'
          name="eye-off"></ion-icon>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.password">
          <div class="error-message" *ngIf="form.get('password').hasError(validation.type) && (form.get('password').dirty || form.get('password').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-button class="submit-btn" type="submit" expand="block" [disabled]="!form.valid">{{'Log In'|translate}}</ion-button>
      <label class="error-message">{{errorMessage}}</label>
    </form>
    <ion-row>
      <ion-col class="facebook-col" padding-start>
        <ion-card (click)="facebookLogin()" mode="ios" no-margin class="ripple">
          <ion-card-content>
            <ion-icon class="facebook" src="/assets/icon/togo-facebook.svg"></ion-icon>
            <span class="divider-facebook">|</span>
            <span class="content">{{ 'facebook' | translate}}</span>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col class="google-col" padding-end>
        <ion-card (click)="googleLogin()" mode="ios" no-margin class="ripple">
          <ion-card-content>
            <ion-icon class="google" src="/assets/icon/togo-google.svg"></ion-icon>
            <span class="divider-google">|</span>
            <span class="content">
              {{ 'google' | translate}}
            </span>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer mode="ios">
  <div class="footer-content" (click)="goToRegisterPage()">
    <ion-icon name="arrow-dropup"></ion-icon>
    <p>{{'No account yet ?'|translate}} <a href="#">{{'Create an account.'|translate}}</a></p>
  </div>
</ion-footer>