<ion-content>
  <ion-grid padding-start padding-end>
    <ion-row>
      <ion-col>
        <img src="assets/logo.jpg" alt="">
        <h3>Ionic Firebase Chat App</h3>
      </ion-col>
    </ion-row>
    <form class="col s12" [formGroup]="form"  (ngSubmit)="loginUser(form.value)">
      <ion-item class="item-input">
        <ion-icon name="mail"></ion-icon>
        <ion-input (ionChange)="trim($event)" placeholder="{{'Email'|translate}}" type="text" required formControlName="email">
        </ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.email">
          <div class="error-message" *ngIf="form.get('email').hasError(validation.type) && (form.get('email').dirty || form.get('email').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-item class="item-input">
        <ion-icon name="lock"></ion-icon>
        <ion-input
          placeholder="{{'Password'|translate}}"
          [type]="passwordType"
          required
          formControlName="password"></ion-input>
        <ion-icon
          *ngIf="showPassword"
          style="margin-right: 0;"
          (click)='togglePasswordInputType()'
          name="eye"></ion-icon>
        <ion-icon
          *ngIf="!showPassword"
          style="margin-right: 0;"
          (click)='togglePasswordInputType()'
          name="eye-off"></ion-icon>
      </ion-item>
      <p style="text-align: right; font-size: 11px; margin-top: 8px; margin-bottom: 16px;">
          <a
          href="#"
          no-margin
          no-padding>{{'Forgot Password ?'|translate}}</a>
      </p>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.password">
          <div class="error-message" *ngIf="form.get('password').hasError(validation.type) && (form.get('password').dirty || form.get('password').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-button class="submit-btn" type="submit" expand="block" [disabled]="!form.valid">{{'Log In'|translate}}</ion-button>
      <label class="error-message">{{errorMessage}}</label>
    </form>
    <ion-row>
      <ion-col class="facebook-col" padding-start>
        <ion-card (click)="facebookLogin()" mode="ios" no-margin class="ripple">
          <ion-card-content>
            <ion-icon class="facebook" src="/assets/icon/facebook.svg"></ion-icon>
            <span class="content">{{ 'Facebook' | translate}}</span>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col class="twitter-col" padding-end>
        <ion-card (click)="googleLogin()" mode="ios" no-margin class="ripple">
          <ion-card-content>
            <ion-icon class="google" src="/assets/icon/twitter.svg"></ion-icon>
            <span class="content">
              {{ 'Twitter' | translate}}
            </span>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col class="google-col" padding-end>
        <ion-card (click)="googleLogin()" mode="ios" no-margin class="ripple">
          <ion-card-content>
            <ion-icon class="google" src="/assets/icon/google.svg"></ion-icon>
            <span class="content">
              {{ 'Google' | translate}}
            </span>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <p style="text-align: center;width: 100%;margin-top: 35px;font-size: 12px;">{{'No account yet ?'|translate}} <a href="#">{{'Create an account.'|translate}}</a></p>
    </ion-row>
  </ion-grid>
</ion-content>
