ion-item {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  &.item-input {
    margin-bottom: 0.8rem;
    --padding-start: 8px;
    --min-height: 34px;
    --background: var(--ion-color-light);
    --border-radius: 5px;
    --border-width: 1px;
    --border-style: solid;
    --inner-border-width: 0px;
    ion-icon {
      margin-right: 15px;
      margin-top: 2px;
    }
    ion-input {
      --inner-padding-start: 8px;
      --padding-top: 10px;
      --padding-bottom: 5px;
    }
  }
}

.error-message {
  margin-bottom: 8px;
  color: var(--ion-color-danger);
}

ion-footer {
  .footer-content {
    background: #ffffff;
    min-height: 3.2rem;
    border: var(--ion-border-color);
    border-style: solid;
    border-width: 0.35px 0.35px 0 0.35px;
    border-radius: 17px 17px 0 0;
    box-shadow: 0 4px 16px var(--ion-color-medium);
    display: flex;
    flex-direction: column;
    align-items: center;
    ion-icon {
      font-size: 10px;
      margin-top: 8px;
      margin-bottom: 5px;
    }
    ion-text {
      color: var(--ion-color-dark-tint);
      font-weight: bold;
      font-size: 12px;
      letter-spacing: -0.03rem;
    }
  }
  &.alert-modal {
    border: var(--ion-border-color);
    border-style: solid;
    border-width: 1px 0 0 0;
    height: 42px;
    ion-item {
      --ion-item-background: #ffffff;
    }
  }
}